body {
    font-family: Arial, Helvetica, sans-serif
}

.special {
    color: green;
    font-weight: bold;
}

#main-box, #empty-box {
    box-shadow: 0px 0px 5px #666;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    min-height: 50px;
}

#empty-box {
    background-color: lightgreen;
}

.note {
    color: red;
}

#switch {
    width: 100px;
    height: 100px;
    background-color: green;
    color: white;
    font-weight: 800;
    border: 1px solid grey;
    border-radius: 4px;
}