div {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    height: 100px;
    width: 250px;
    background-color: lightblue;
    border: 1px solid black;
}

#box {
    margin: 1rem;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    background-color: lightblue;
}