div {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 70px;

}

input:not([type="submit"]), textarea {
    min-width: 200px;
}

code {
    background-color: #f5f5f5 !important;
    color: red !important;
    padding: 2px !important;
    border-radius: 2px !important;
}

#response {
    padding: 10px;
    background: lightgreen;
    display: none;
    border-radius: 3px;
    border: 1px solid black;
    width: 300px;
}